DATABASE_URL=sqlite:///./erp_moda.db
APP_NAME=ERP Morena Concept
DEBUG=True
PORT=8888
SECRET_KEY=super-secret-key-for-jwt-morenaerp
ADMIN_EMAIL=admin@morena.com
ADMIN_PASSWORD=adminpassword
SELLER_EMAIL=vendedor@morena.com
SELLER_PASSWORD=sellerpassword
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
